/* Imported libraries */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: black;
}

/* Logo bar */
.logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

/* Header */
header {
    height: 600px;
    background-color: black;
}

/* Navigation bar */
nav {
    padding: 0px 200px;
    top: -1px;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    font-size: 20px;
    border-bottom: solid rgba(255, 0, 0, 0.9);
}

/* Info section */
.info {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Images of the info section */
.info img {
    max-width: 100%;
}

/* Logo */
.logo {
    cursor: pointer;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Menu links */
.menu a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

/* Movies section */
.movies {
    float: left;
    overflow: hidden;
}

/* Movie buttons */
.movies .moviesbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 20px;
    font-size: 20px;
}

/* Movies content */
.movies-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Movies content links */
.movies-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

/* Hover effect for links within the movies content */
.movies-content a:hover {
    background-color: gray;
}

/* Display movies content on hover */
.movies:hover .movies-content {
    display: block;
}

/* Hover effect for menu options */
nav a:hover,
.movies:hover .moviesbtn {
    background-color: rgba(100, 0, 0, 0.90);
}

/* Search bar */
.search-bar {
    height: 35px;
    width: 320px;
    border: 1px solid gray;
    border-radius: 15px;
}

/* Buttons */
.buttons {
    display: flex;
}

/* Search and person icon */
.search-icon,
.person-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
}

/* Person icon */
.person-icon {
    background-image: url("../Media/Account.png");
}

/* Hover effect for the person icon */
.person-icon:hover {
    background-image: url("../Media/AccountHover.png");
}

/* Dropdown content */
.personal-content {
    display: none;
    position: absolute;
    top: 67%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 14px;
}

/* Display dropdown content on hover */
.person-icon:hover .personal-content {
    display: block;
}

/* Styling for links within the dropdown content */
.personal-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Hover effect for links within the dropdown content */
.personal-content a:hover {
    background-color: gray;
}

/* Styling for the main content */
main {
    background-color: #141414;
    color: white;
    flex-grow: 1;
}

/* Styling for the footer */
footer {
    display: flex;
    background-color: black;
    color: hsla(0, 0%, 100%, 0.662);
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top: solid rgba(255, 0, 0, 0.9);
}

/* Styling for the bottom section of the footer */
.bottom {
    list-style-type: none;
}

/* Styling for list items in the bottom section */
.bottom li {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for links in the bottom section */
.bottom a {
    text-decoration: none;
    color: white;
}

/* Define flex proportions for the three pillars */
.left_pillar {
    flex: 25%;
}

.center_pillar {
    flex: 50%;
}

.right_pillar {
    flex: 25%;
}
