@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: black;
}

.logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}

header {
    height: 600px;
    background-color: black;
}

nav {
    top: -1px;  
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    font-size: 20px;
    border-bottom-color: rgba(255, 0, 0, 0.9);
    border-bottom-style: solid;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
}

.info img {
    max-width: 100%;
}

.logo {
    padding: 10px 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.movies {
    float: left;
    overflow: hidden;
}

.movies .moviesbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 20px;
    font-size: 20px;
}

.movies-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.movies-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: none;
    font-size: 14px;
}

.movies-content a:hover {
    background-color: gray;
}

.movies:hover .movies-content {
    display: block;
}

nav a:hover,
.movies:hover .moviesbtn {
    background-color: rgba(100, 0, 0, 0.90);
}

.buttons {
    display: flex;
    padding: 0 30px;
}

.search-icon,
.person-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.search-icon {
    background-image: url("../Media/Search.png");
}

.search-icon:hover {
    background-image: url("../Media/SearchHover.png");
}

.person-icon {
    background-image: url("../Media/Account.png");
}

.person-icon:hover {
    background-image: url("../Media/AccountHover.png");
}

main {
    background-color: #141414;
    color: white;
    flex-grow: 1;
}

footer {
    display: flex;
    background-color: black;
    color: hsla(0, 0%, 100%, 0.662);  
    height: 200px; 
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-top-color: rgba(255, 0, 0, 0.9);
    border-top-style: solid;
}

.bottom {
    list-style-type: none;
}

.bottom li {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom a {
    text-decoration: none;
    color: white;

}

.left_pillar {
    flex: 25%;
}

.center_pillar {
    flex: 50%;
}

.right_pillar {
    flex: 25%;
}